$--color-primary: #fc9153;
	
$--font-path: 'node_modules/element-plus/lib/theme-chalk/fonts';
	
@import "node_modules/element-plus/packages/theme-chalk/src/index";
	
@import 'node_modules/element-plus/lib/theme-chalk/display';

